# Compiled object files
*.o
*.obj
objs/

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.so.*

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
/uxcd
/uxc
/uxexec

# Temporary files
*.tmp
*.log
*.bak
*.swp

# caches
.cache/
